.users-list {
  &__header {
    margin-bottom: 20px;
  }
  &__title {
    padding: 20px 0px;
    border-bottom: 1px solid rgba(218, 218, 218, 1);
  }
  &__list {
    padding: 0 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 35px;
    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      gap: 10px;
    }
  }
}
