.user-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  min-height: 170px;

  @media (max-width: 768px) {
    display: block;
  }

  &.--archive {
    filter: grayscale(100%);
  }

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  &__avatar-wrapper {
    height: 100%;
    width: 112px;
    overflow: hidden;
    @media (max-width: 768px) {
      height: auto;
      width: 112px;
      margin: 0 auto;
    }
  }

  &__avatar {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    flex-grow: 1;
    margin-left: 16px;
    height: 100%;
    @media (max-width: 768px) {
      height: auto;
      margin-left: 0;
    }
  }

  &__name {
    color: rgba(34, 160, 188, 1);
    font-size: 20px;
    font-weight: 600;
    line-height: 27.32px;
    margin-bottom: 10px;
    overflow: hidden;
    @media (max-width: 768px) {
      max-width: 100px;
    }
  }

  &__status {
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    color: rgba(89, 89, 89, 1);
  }

  &__location {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.12px;
    color: rgba(156, 156, 156, 1);
  }

  &__dropdown {
    position: absolute;
    top: 20px;
    right: 16px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 8px 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    @media (max-width: 768px) {
      right: 5px;
      top: 50%;
    }
  }

  &__dropdown.visible {
    visibility: visible;
    opacity: 1;
  }

  &__dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__dropdown li {
    cursor: pointer;
    transition: background-color 0.2s;
  }

  &__dropdown-button {
    padding: 8px 16px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
    text-align: left;
    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__menu {
    background: none;
    border: none;
    display: block;
    cursor: pointer;
    transform: translate(-10px, -43px);
    @media (max-width: 768px) {
      position: absolute;
      right: 5px;
      top: 70%;
    }
  }

  &__menu-dot {
    width: 4px;
    height: 4px;
    margin: 2px 2px;
    background-color: #333;
    border-radius: 50%;
  }
}
